<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>ExamSimulator</title>
</head>
<body>

    <header>
        <nav>

        </nav>
    </header>

    <main>

        <section class="questionExterior">
            <form action="" method="get" id="quiz">    
                <div class="organizator">(FUVEST - 2020)</div>
                <div class="category">Matemática</div>
                <div class="question">
                A dona de uma lanchonete observou que, vendendo um
                combo a R$ 10,00, 200 deles são vendidos por dia, e que, para
                cada redução de R$ 1,00 nesse preço, ela vende 100 combos
                a mais. Nessas condições, qual é a máxima arrecadação diária
                que ela espera obter com a venda desse combo?
                </div>
                <div class="btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                        <input type="radio" name="answer" id="A" value="A"> A) R$ 2.000,00
                    </label>
                    <br><label class="btn btn-secondary">
                        <input type="radio" name="answer" id="B" value="B"> B) R$ 3.200,00
                    </label>
                    <br><label class="btn btn-secondary">
                        <input type="radio" name="answer" id="C" value="C"> C) R$ 3.600,00
                    </label>
                    <br><label class="btn btn-secondary">
                        <input type="radio" name="answer" id="D" value="D"> D) R$ 4.000,00
                    </label>
                    <br><label class="btn btn-secondary">
                        <input type="radio" name="answer" id="E" value="E"> E) R$ 4.800,00
                    </label>
                  </div>

                  <button class="btnsend" id="quiz" type="submit">Send</button>

            </form>


        </section>

    </main>

    <footer>

    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    
</body>
</html>