@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');


* {
font-family: 'Raleway', 'Roboto', sans-serif;
color: white;
}

.organizator {
    font-size: large;
    font-style: bold;
}

.category {
    font-size: larger;
    font-style: italic;
}

.questionExterior {
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    margin-bottom: 10vh;
    padding: 2.5%;
    border-radius: 25px;
}

.question {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.btn {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.btnsend {
    margin-top: 5%;
    margin-bottom: 5%;
    color: rgb(218, 218, 218);
    background-color: #6c757d;
    border: none;
    border-radius: 20px;
    padding: 2.5%;
}

@media (min-width:320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
   }
   
   @media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */ 
   }
   
   @media (min-width:600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
   }
   
   @media (min-width:801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
   }
   
   @media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */ 
   }
   
   @media (min-width:1281px) {
    /* hi-res laptops and desktops */ 
   }
   